.post-card{
  width: 100%;
}
.post-header{

}
.md-avatar{
}
.post-image {
  img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 50px;
  }
}
.post-meta{

}
.post-title{

}
.post-tags{

}
.post-categories{

}
