<md-sidenav-container layout="row" flex>
  <md-sidenav name="menu">
    <md-toolbar class="md-tall md-warn">
      <span flex></span>
      <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span class="md-flex">Main Menu</span>
      </h2>
    </md-toolbar>

    <md-content layout-padding>
      <md-list>
        <md-list-item md-ink role="listitem" *ngFor="#menuItem of menu">
          <a class="md-no-style md-list-item-inner" [routerLink]="[ 'Page', { slug: menuItem.slug } ]" (click)="close('menu')">
            <span class="md-button-wrapper">{{menuItem.title}}</span>
          </a>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <md-sidenav name="search" align="right" layout="column" (onShown)="input.focus()">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Sidenav Search</h1>
    </md-toolbar>
    <md-content layout-padding>
      <form>
        <md-input-container class="md-block">
          <label for="testInput">Search</label>
          <input type="text" id="testInput" md-input #input
                 (value)="key" md-autofocus>
        </md-input-container>
      </form>
      <button md-raised-button (click)="close('search')" class="md-primary">
        Close Sidenav Search
      </button>
    </md-content>
  </md-sidenav>

</md-sidenav-container>


<md-toolbar>
  <div class="md-toolbar-tools">
    <button md-button class="md-icon-button" aria-label="Menu" (click)="open('menu')" hide-gt-md>
      <i md-icon>menu</i>
    </button>
    <h2>
      <a [routerLink]="[ '/Index' ]" class="brand-logo">{{siteTitle}}</a>
    </h2>
    <span flex></span>
    <div hide show-gt-md>
      <a *ngFor="#menuItem of menu" md-button md-ink [routerLink]="[ 'Page', { slug: menuItem.slug } ]">
        <span class="md-button-wrapper">{{menuItem.title}}</span>
      </a>
    </div>
    <button md-button class="md-icon-button" aria-label="Search" (click)="open('search')">
      <i md-icon>search</i>
    </button>
  </div>
</md-toolbar>
