@import "node_modules/ng2-material/source/core.scss";

$md-is-dark-theme: false;

$md-primary: md-palette($md-brown, 500, 300, 700, $md-contrast-palettes);
$md-accent: md-palette($md-red, 500, 300, 700, $md-contrast-palettes);
$md-background: md-palette($md-grey, 500, 0, 600, $md-contrast-palettes);
$md-warn: md-palette($md-lime, 500, 100, 700, $md-contrast-palettes);
$md-foreground: if($md-is-dark-theme, $md-dark-theme-foreground, $md-light-theme-foreground);

@import "node_modules/ng2-material/source/components.scss";

.container{
  overflow: hidden;
  //background-color: honeydew;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
.page-content, .post-content{
  img{
    max-width: 100%;
    height: auto;
  }
}
.router-link-active{
  color: darkorange;
}
header{

}
loader{
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  right: 0;
  width: 100%;
  height: 5px;
}
main{
  display: flex;
  flex: 1;
  > :not(router-outlet){
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    justify-content: center;
    > *{
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
footer{

}
.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}
.scrollable{
  overflow-y: auto !important;
}
blog-posts{
  margin-left: 200px;
}
