.posts-list{
  /*-moz-column-width: 300px;*/
  /*-webkit-column-width: 300px;*/
  /*-moz-column-gap: 5px;*/
  /*-webkit-column-gap: 5px;*/

  /*max-width: 960px;*/
  /*margin: 0 auto;*/
}
post-item{
  display: flex;

}
md-list-item{
  margin: 10px 0;
}
.posts-more{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >{
    display: flex;
    max-width: 150px;
    text-align: center;
  }
}
.md-list-item-text{
  text-align: left;
}
